@font-face {
  font-family: "Franie Test";
  src: url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.eot");
  src: url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/37bd36d3b639ac472b79d48f73ebe02b.svg#Franie Test")format("svg");
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.title {
  color: #ffffff;
  font-family: "Franie Test", "Montserrat", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 128%;
  margin-bottom: 1rem;
}

.title span {
  color: #30f427;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 144%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 18px;
  }
}