.languageSwitcher {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .selector {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.3s ease;
  }
  
  .selector:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .currentLang {
    margin-right: 6px;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .arrowUp {
    transform: rotate(180deg);
  }
  
  /* Выпадающий список */
  .dropdown {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 8px 0;
    min-width: 80px;
    text-align: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .langOption {
    padding: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .langOption:hover {
    background: rgba(0, 255, 0, 0.2);
    color: #00ff00;
  }
  
  .activeLang {
    color: #00ff00;
    font-weight: bold;
  }
  