.chainWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; /* чтобы изображение не выходило */
    z-index: 0; /* чтобы фон был позади контента */
  }
  
  .chainImage {
    object-fit: cover; /* или contain, если нужно */
    opacity: 0.3; /* при желании сделать цепь полупрозрачной */
  }
  