.storeSection {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 70px 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chainImage {
  object-fit: cover;
  max-width: 1050px;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.title {
  font-family: "Franie Test", "Montserrat", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 128%;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 144%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.title span {
  color: #00ff00;
}

.description {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.8);
  max-width: 690px;
  margin-bottom: 90px;
}

.cardsWrapper {
  position: relative;
}

.animatedLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.AnimatedLineDesktop {
  display: block;
}

.animatedLine {
  display: none;
}

.AnimatedLineDesktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.card {
  backdrop-filter: blur(16px);
  background: rgba(45, 45, 45, 0.374);
  border: 0.6px solid #2e2e2e;
  border-radius: 19px;
  padding: 19px;
  height: 151px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 192px;
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: #222;
}

.cardLabel {
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  color: #fff;
}

@media (max-width: 1024px) {
  .storeSection {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
  }

  .AnimatedLineDesktop {
    display: none;
  }

  .animatedLine {
    display: block;
    height: auto;
    top: 60px;
  }

  .content {
    max-width: 192px;
    margin: 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .storeSection {
    padding: 30px 20px;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .storeSection {
    flex-direction: column;
    justify-content: none;
    gap: 0;
  }

  .cardsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .content {
    max-width: 100%;
  }

  .animatedLine {
    height: 80%;
  }
}