.fsqnSection {
    background-color: #000; 
    color: #fff;
    padding: 4rem 20px;
    position: relative;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    /* На мобильных – колонка, на десктопе – можно row-reverse, если нужно */
    display: flex;
    flex-direction: column; 
    gap: 2rem;
  }
  
  /* Блок с телефоном (и кристаллами) */
  .phoneBlock {
    position: relative;
  }
  
  /* Кристалл 1 */
  .crystal1Wrapper {
    position: absolute;
    top: -50px;
    right: -200px;
    width: 603px;
    height: 614px;
    z-index: 0;
  }
  .crystal2Wrapper {
    position: absolute;
    bottom: 0;
    left:-270px;
    width: 471px;
    height: 476px;
    z-index: 0;
  }
  
  .crystalImage {
    object-fit: contain;
  }
  
  /* Телефон */
  .phoneWrapper {
    position: relative;
    z-index: 1;
    width: 350px;  
    height: 700px; 
    margin: 0 auto; 
  }
  
  .phoneImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Текстовый блок (заголовок, описание, иконки) */
  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }
  
  /* Заголовок */
  .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    font-family: "Franie Test","Montserrat", serif;
  }
  
  .title span {
    color: #00ff00;
  }
  
  /* Описание */
  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.8);
    max-width: 590px;
  }
  .description span { 
    font-weight: 700;
  }
  /* Иконки */
  .iconsRow {
    display: flex;
    gap: 2rem;
  }
  
  .iconCard {
    height: 140px;
    width: 276px;
    border: 0.50px solid #2f2f2f;
    border-radius: 32px;
    padding: 24px;
    background: #101010;
  }

  
  /* Адаптив: на десктопе можно изменить порядок */
  @media (min-width: 768px) {
    .container {
      /* Телефон справа, текст слева */
      flex-direction: row-reverse; 
      align-items: center;
      justify-content: space-between;
    }
    .phoneBlock {
        align-self: flex-end;
        justify-content: flex-end;
        padding-right: 50px;
        bottom: 0;
    }
    .textBlock {
      align-items: flex-start;
      text-align: left;
    }
  }
  